genome.1.ebwt
genome.2.ebwt
genome.3.ebwt
genome.4.ebwt
genome.rev.1.ebwt
genome.rev.2.ebwt
metagenome.fa.fai
reads.f.corr
reads.fa.corr
readscorr.bam
readscorr.sam
readscorr.sh
readscorr.sorted.bam
readscorr.sorted.bam.bai
index.html
index.sh
reads-trim.kh
reads-trim.kh.info
reads.fa
reads.fa.abundtrim
reads.kh
reads.kh.info
